openai~=0.28.1
jupyter
SpeechRecognition
pyaudio~=0.2.13
google-api-python-client
#bark
#pyobjc
#pyttsx3
#py3-tts
#TTS
gTTS~=2.4.0
playsound~=1.3.0
#git+https://github.com/serp-ai/bark-with-voice-clone.git
oauth2client
google-cloud-speech
pydub
simpleaudio
#librosa
#soundfile~=0.12.1
numpy~=1.22.0
#sounddevice
#pyrubberband